body{
    font-family:"Open Sans", Arial, sans-serif;
}

#sidebar{
    position:fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid 2px;
    border-color: grey;

}

h2{
    color:black;
    margin: 25px;
    margin-left: 60px;
    text-align: center;
    font-size:2.8em;
    font-weight: thin;
}


#sidebar ul{
    height: 90%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;

}


#sidebar ul li a{
    padding: 35px 0px 35px 10px;
    border-top: solid 0.5px;
    border-bottom: solid 0.5px;
    border-color: grey;
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: black;
}
#sidebar ul li:hover{
    background-color: rgb(240, 240, 240);
}




#doc{ 
    position:fixed;
    height: 100%;
    width: auto;
    left: 305px;
    overflow-y: auto;
    overflow-x: hidden;
}
#doc h2{
    text-align: left;
    font-size: 2em;
}

#doc article{
    line-height: 25px;
    margin:0px 0px 0px 35px;
    font-size: 0.95em;
    

}
img{
    height: 80px;
    padding-top: 10px;
    padding-left: 10px;
    display: inline;
    position:absolute;
}

#doc h3{
    margin-left: 35px;
    margin-bottom: 5px;
    color: rgb(47, 47, 47);
}
pre{
    background-color: rgb(27, 27, 27);
    color: white;
    display: block;
    text-align: left;
    padding-left: 15px;
    margin-left: 35px;
    line-height:20px;
    
}

th{
    text-decoration: none;
    border: solid gray 1px;
    text-align: left;
    color:black;

}
a{
    text-decoration: none;
    color: black;
}
table{
    padding-top: 10px;
}
td{
    border: solid gray 1px;
    padding: 2px 15px 2px 15px;
}

